<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% messages.forEach((message) => { %>
      <h3><%= message.user %></h3>
      <h2><%= message.text %></h2>
      <h4><%= message.added %></h4>
      <a href="/messages/<%= message.id %>">Open</a>
      <% }) %>
    </ul>
    <a href="/new">Write a message!</a>
  </body>
</html>
